html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0px;
}

body{
    color: #2f3035;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    overflow-x: hidden;
    min-width: 320px;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


.page-section{
    margin-bottom: 80px;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

.menu__item{
     display: inline-block;
}
.menu__item + .menu__item{
    padding-left: 50px;
}

.header__box{
    display: flex;
}

.menu__btn{
    display: none;
}

.header__adress{
    margin-right: 60px;
    width: 310px;
    padding-left: 30px;
    position: relative;
}

.header__adress::before{
    content: "";
    position: absolute;
    background-image: url('../images/icon.png');
    width: 25px;
    height: 25px;
    left: 0;
}

.user-list{
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user-list-item{
    padding-right: 15px;
}

.basket{
    position: relative;
}

.basket__num{
    position: absolute;
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #d11818;
    border-radius: 50%;
    text-align: center;
    bottom: -12px;
    right: -12px;
}

.media__logo-img{
    display: none;
}

.header__bottom{
    margin-bottom: 80px;
}

.menu-categories{
    background-color: #f0f0f4;
    display: flex;
    justify-content: space-around;
    min-height: 53px;
    align-items: center;
}

.menu-categories__link{
    transition: all .5s;
    font-weight: 400;
    padding: 15px 0 14px;
    white-space: nowrap;
    position: relative;
}

.menu-categories__link::before{
    content: "";
    width: 0;
    left: auto;
    right: 0;
    position: absolute;
    background-color: #d14c18;
    height: 3px;
    bottom: -2px;
    transition: all .5s;
}

.menu-categories__link:hover{
    color: #000;
}

.menu-categories__link:hover::before{
    width: 100%;
    right: auto;
    left: 0;
}

.banner-section__inner{
    display: flex;
    justify-content: space-between;
}

.banner-section__slider{
    max-width: 900px;
}

.banner-section__slider-btn,
.product-slider__slider-btn{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    z-index: 5;
    cursor: pointer;
    outline: none;
}

.banner-section__slider-btnprev{
    left: 20px;
}

.banner-section__slider-btnnext{
    right: 20px;
}

.slick-dots{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.slick-dots li{
    display: inline-block;
    padding: 0 5px;
}


.slick-dots button{
    padding: 0px;
    font-size: 0px;
    margin: 0px;
    width: 11px;
    height: 11px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: transparent;
    outline: none;
}

.slick-dots .slick-active button{
    background-color: rgb(0, 0, 0);
}

.slick-active li button{
    background-color: rgb(0, 0, 0);
    outline: none;
}


.sale-item{
    min-width: 265px;
    text-align: center;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info{
    color: #fff;
    background-color: #d11818;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.sale-item__price{
    text-align: right;
}

.price{
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.sale-item__price-new{
    font-weight: 700;
    font-size: 27px;
    color: #d11818;
    line-height: 32px;
    margin-right: 6px;
    padding-right: 20px;
    position: relative;
}

.sale-item__price-new::after{
    content: '';
    background-image: url('../images/icons-price.png');
    position: absolute;
    right: 0;
    width: 15px;
    height: 20px;
    top: 7px;
}

.sale-item__price-old{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    margin-right: 20px;
    background-image: url('../images/old-line.png');
    padding: 6.5px 0px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
}

.sale-item__price-old::after{
    content: '';
    background-image: url('../images/icons-price-old.png');
    position: absolute;
    right: -13px;
    width: 10px;
    height: 13px;
    top: 7px;
}

.sale-item__footer{
    background-color: #f0f0f4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span{
    color: #d14c18;
    display: block;
    font-family:  'Barlow', sans-serif;
    font-weight: 700;
}

.sale-item__title{
    font-size: 18px;
    line-height: 21px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
}

.banner-section__slider-img{
    object-fit: cover;
    min-height: 400px;
}

.sale-item__img{
    object-fit: contain;
}

.search__tabs{
    margin-bottom: -5px;
}

.search__tabs-item{
    padding: 11px 26px 12px;
}

.search__tabs-item.tab--active{
    border-radius: 5px;
    background-color: #F0F0F4;
    font-weight: 700;
    font-family: 'SFProDisplay-Bold', sans-serif;
}


.tabs-content{
    display: none;
}

.tabs-content.tabs-content--active{
    display: block;
}

.search__content-form{
    display: flex;
}

.search__content-btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: #fff;
    font-family: 'SFProDisplay-Bold', sans-serif;
    background-color: #d14c18;
    border-radius: 3px;
    margin-left: -3px;
    padding: 17px 41px;
    border: none;
}

.search__content-input{
    background: #F0F0F4;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    line-height: 19px;
    font-size: 16px;
    width: 100%;
}

.search__content-input::placeholder{
    color: #656464;
}

.categories__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item{
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all .3s;
}


.categories__item-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories__item-img{
    text-align: center;
    width: 50%;
}

.categories__item-title{
    font-weight: bold;
    line-height: 28px;
    font-size: 23px;
    font-family: 'Barlow', sans-serif;
    transition: all .3s;
}

.categories__item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title{
    color: #d14c18;
   }

.categories__item-text{
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
}

.categories__item-text::after{
    content: url('../images/arrow_select.png');
    padding-left: 6px;
}



.product-item__wrapper{
    position: relative;
    left: 15px;
    width: 271px;
    transition: all .5s;
}

.product-item__wrapper.product-item__wrapper--list{
    width: 100%;
}

.product-item{
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    min-height: 420px;
    max-height: 420px;
    text-align: center;
    padding: 52px 30px 31px;
    transition: all .6s;
    width: 100%;
}

.product-item__title{
    font-weight: normal;
    padding: 14px 0 25px;
    font-size: 18px;
    line-height: 21px;
    max-height: 73px;
}

.product-item__favorite{
    position: absolute;
    top: 16px;
    right: 45px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    z-index: 5;
    outline: none;
}

.product-item__favorite::before{
    content: "";
    position: absolute;
    background-image: url('../images/content/favorite.png');
    width: 25px;
    height: 23px;
    top: 0;
    left: 0;
}

.product-item__favorite--active::before{
    background-image: url('../images/content/favorite-active.png');
}

.product-item__price{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.product-item__basket{
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: #d14c18;
    border-radius: 10px 0px 0px 0px;
    border: none;
    outline: none;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 10;
}

.product-item__basket::before{
    content: "";
    background-image: url('../images/basketwhite.png');
    width: 30px;
    height: 23px;
    background-repeat: no-repeat;
    top: 7px;
    left: 18px;
    position: absolute;
    z-index: 6;
}

.product-item__hover-text{
    padding: 18px 21px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: absolute;
    top: 35%;
    opacity: 0;
    transition: all .6s;
}

.product-item:hover .product-item__hover-text{
    opacity: 1;
    color: #2f3035;
}

.product-item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, .25);
    color: #d14c18;
}

.product-item:hover .product-item__notify-text{
    color: #2f3035;
}

.product-item:hover .product-card__list{
    color: #2f3035;
}

.product-item__sale{
    content: "SALE";
    padding: 8px 15px;
    background-color: #d11818;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
}

.product-item__new{
    content: "NEW PRODUCT";
    padding: 8px 15px;
    background-color: #187ed1;
    position: absolute;
    top: 28px;
    left: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
}

.product-item__hit{
    content: "HIT";
    padding: 8px 15px;
    background-color: #fa8a21;
    position: absolute;
    top: 57px;
    left: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
}





.product-item__wrapper.product-item__not-available .product-item__price{
    display: none;
}

.product-item__notify-text {
    display: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text{
    display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket{
    display: none;
}

.product-item__notify-link{
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__title{
    padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 10px;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    color: #d14c18;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link span{
    border-bottom: 1px solid #d14c18;
}

.products__title{
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    font-family:  'Barlow', sans-serif;
    margin-bottom: 25px;
}

.products__tab + .products__tab{
    margin-left: 60px;
}

.products__tabs{
    margin-bottom: 25px;
}

.products__tab{
    padding-bottom: 10px;
}

.products__tab.tab--active{
    border-bottom: 2px solid #d14c18;
}

.product-slider__slider-btnprev{
    left: -30px;
    top: 0;
    bottom: 0;
}

.product-slider__slider-btnnext{
    right: -60px;
    top: 0;
    bottom: 0;
}

.slick-slide img {
    display: inline;
}

.products{
    margin-bottom: 80px;
}

.product__more{
    text-align: center;
    margin: 35px 0 0;
}

.product__more-link{
    text-transform: uppercase;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.12em;
    background: #f0f0f4;
    padding: 16px 43px;
}

.banner{
    margin-bottom: 80px;
}

.footer{
    background-color: #f0f0f4;
}

.footer__bottom{
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
}

.footer__bottom-link{
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
    margin: 0 40px;
}

.footer__top{
    padding-top: 43px;
}

.footer__top-inner{
    display: flex;
    justify-content: space-between;
}

.footer__top-newslatter{
    width: 295px;
    margin-right: 50px;
}

.footer__top-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.footer-form{
    margin-top: 34px;
    display: inline-flex;
    justify-content: space-between;
}

.footer-form__input{
    background-color: white;
    border: none;
    font-size: 14px;
    line-height: 17px;
}

.footer-form__input::placeholder{
    color: #c4c4c4;
    padding: 0 12px;
}

.footer-form__btn{
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #d14c18;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    font-family: 'SFProDisplay-Semibold', sans-serif;
}

.footer_top-item{
    width: 200px;
}

.footer-list{
    font-size: 14px;
    line-height: 22px;
}

.footer_top-social{
    width: 250px;
}

.social-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.social-list__item + .social-list__item{
    margin-left: 30px;
}

.breadcrumbs{
    margin-bottom: 40px;
}

.breadcrumbs__list-item{
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #d14c18;
}

.breadcrumbs__list-item::after{
    content: "";
    position: absolute;
    right: 0;
    background-image: url('../images/link-arrow.png');
    width: 6px;
    height: 10px;
    bottom: 3px;
}

.breadcrumbs__list-item:last-child:after{
    display: none;
}

.catalog{
    margin-bottom: 100px;
}

.catalog__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    margin-bottom: 26px;
}

.catalog__filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.catalog__filter-items button{
    font-size: 14px;
    line-height: 17px;
    opacity: 0.7;
    border-radius: 3px;
    border: none;
    padding: 5px 22px;
    cursor: pointer;
}

.catalog__filter-items button + button{
    margin-left: 8px;
}

.catalog__filter-btn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.catalog__filter-btn button + button{
    margin-left: 10px;
}

button.catalog__filter-btngrid{
    width: 23px;
    height: 21px;
}

.catalog__filter-btn{
    display: flex;
    align-items: center;
}

.select-item{
    border: 1.5px solid #d7d9df;
    font-size: 14px;
    line-height: 17px;
    margin-right: 34px;
    padding: 3px 10px 3px 20px;
}

button.catalog__filter-btnline{
    width: 23px;
    height: 21px;
}

.catalog__filter-button{
    opacity: 0.3;
    outline: none;
}

.catalog__filter-button--active{
    opacity: 1;
}

.catalog__inner{
    display: flex;
}

.catalog__inner-asaid{
    min-width: 290px;
    margin-right: 10px;
    max-width: 290px;
}

.catalog__inner-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__inner-list .product-item__wrapper{
    margin-bottom: 30px;
    max-height: 420px;
    margin-left: 15px;
}

.product-item__img{
    /*min-width: 100%;*/
}

.pagination{
    width: 100%;
    margin-top: 70px;
}

.pagination-list{
    display: flex;
    justify-content: center;
}

.pagination-list__item{
    padding: 13px 15px;
    border: 2px solid transparent;
    margin: 0 11px;
    font-size: 18px;
    line-height: 22px;
    color: #c4c4c4;
}

.pagination-list__item.active{
    padding: 13px 15px;
    border: 3px solid #d14c18;
    color: #d14c18;
}

.pagination-list__item a{
    display: block;
}

.asaid-filter__tabs{
    display: flex;
    justify-content: space-between;
}

.asaid-filter__tab{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    color: #c4c4c4;
    width: 50%;
}

.asaid-filter__tab.tab--active{
    color: #2f3035;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: bold;
}

.asaid-filter__tab.tab--active span{
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 2px solid #d14c18;
}

.asaid-filter__item-drop{
    margin: 40px 0;
}

.asaid-filter__item-title{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
}

.filter__item-drop{
    position: relative;
}

.filter__item-drop::before{
    content: "";
    background-image: url('../images/arrow-down.png');
    position: absolute;
    left: 0px;
    bottom: 5px;
    width: 12px;
    height: 10px;
    transform: rotate(0deg);
}

.filter__item-drop--active::before{
    transform: rotate(180deg);
}

.asaid-filter__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.asaid-filter__content-box{
    width: 50%;
    margin-bottom: 10px;
}

.asaid-filter__content-label{
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.jq-checkbox, .jq-radio{
    background: white;
    width: 14px;
    height: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    box-shadow: none;
    vertical-align: -2px;
    margin: 0 8px 0 0;
}

.jq-checkbox.checked, .jq-radio.checked{
    background: #d14c18;
    border: 1px solid #d14c18;
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 50%;
    height: 4px;
    margin: 3px 0 0 3px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-50deg);
}

.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: none;
    background: transparent;
    box-shadow: none;
}

.asaid-filter__content.asaid-filter__content-radio{
    flex-wrap: nowrap;
}

.irs-with-grid .irs-grid {
    display: none;
}

.irs--flat{
    width: 100%;
    margin-top: -15px;
}

.irs--flat .irs-to, .irs--flat .irs-from{
    display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
    top: 60px;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    text-decoration: underline;
    line-height: 17px;
    font-family:  'Barlow', sans-serif;
    color: #2f3035;
    text-shadow: none;
    border-radius: 0;
    visibility: visible !important;
    padding-left: 27px;
}

.irs-min::before,
.irs-max::before{
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    font-family:  'Barlow', sans-serif;
    left: 0;
}

.irs-min::before{
    content: "от";
}

.irs-max::before{
    content: "до";
}

.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #e0e0e0;
    border-radius: 0px;
}

.irs--flat .irs-bar {
    top: 24px;
    height: 3px;
    background-color: #d14c18;
}

.irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: #d14c18;
    border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child{
    background: transparent;
}

.asaid-filter__item-list{
    margin: 46px 0 40px;
}

.filter__item-list{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #c4c4c4;
    padding-top: 34px;
}

.filter__item-listtitle{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    padding-left: 26px;
}

.filter__item-listselect{
    font-size: 14px;
    line-height: 17px;
    color: #48494d;
    font-family:  'Barlow', sans-serif;
}

.jq-selectbox__select{
    font-size: 14px;
    line-height: 17px;
    color: #48494d;
    font-family:  'Barlow', sans-serif;
    height: 32px;
    padding: 0 30px 0 10px;
    margin-top: -5px;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

.jq-selectbox__trigger-arrow{
    position: absolute;
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: none;
}

.jq-selectbox__trigger{
    background-image: url('../images/arrow-down.png');
    right: 10px;
    top: 10px;
    width: 12px;
    height: 10px;
    border-left: none;
}

.jq-selectbox__select:hover{
    background: none;
}

.jq-selectbox__select-text{
    padding-top: 6px;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jq-selectbox.focused .jq-selectbox__select{
    border: none;
}

.jq-selectbox__select:active{
    box-shadow: none;
}

.jq-selectbox li:hover{
    background:rgba(107,126,172,0.05);
    color: rgba(0, 0, 0, 0.4);
}

.jq-selectbox li.selected{
    background:rgba(107,126,172,0.05);
    color: rgba(0, 0, 0, 0.4);
}

.jq-selectbox li{
    color: rgba(0, 0, 0, 0.4);
}

.jq-selectbox{
    z-index: 5;
}

.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 6px 0 0;
    border: 1px solid #CCC;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    font: 14px/18px Arial, sans-serif;
}

.filter-more{
    width: 100%;
}

.filter-more__btn {
    line-height: 17px;
    font-size: 14px;
    color: #d14c18;
    border: none;
    border-bottom: 1px solid #d14c18;
    background-color: transparent;
    padding: 0;
}

.filter-search{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 30px;
    padding: 0 20px;
    line-height: 14px;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.filter-search::placeholder{
    color: #bdbec2;
}

.btn-checked .asaid-filter__content{
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn-checked .asaid-filter__content-box{
    width: auto;
}

.btn-checked .asaid-filter__content-label{
    position: relative;
    height: 25px;
    width: 63px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #c4c4c4;
}

.btn-checked .jq-checkbox{
    height: 25px;
    width: 63px;
    background-color: #f0f0f4;
    border: none;
}

.btn-checked .jq-checkbox.checked{
    background-color: #d14c18;
    color: white;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text{
    color: white;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div{
    display: none;
}

.btn-checked__text{
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-60%);
    z-index: 5;
}

.filter-btn__send{
    background: #f0f0f4;
    padding: 16px 85px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.filter-btn__send--active{
    background: #d14c18;
    color: white;
}

.asaid-filter__item-btn{
    text-align: center;
}

.filter__extra{
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    margin-bottom: 15px;
}

.filter__extra::after{
    content: "";
    position: absolute;
    right: 0;
    background-image: url('../images/arrow-down.png');
    width: 12px;
    height: 10px;
    top: 3px;
}

.filter__extra__content{
    display: none;
}

.filter__extra.filter__item-drop--active::after{
    transform: rotate(180deg);
}

.filter-btn__reset{
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    border-bottom: 1px solid #c4c4c4;
    color: #c4c4c4;
}

.product-card{
    margin-bottom: 80px;
}

.product-card__inner{
    display: flex;
    justify-content: space-between;
}

.product-card__img-box{
    width: 500px;
    padding-top: 64px;
    text-align: center;
    font-family:  'Barlow', sans-serif;
    position: relative;
}

.product-card__img-box::before{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    padding: 13px 25px;
    border-radius: 3px;
}

.product-card__price-old{
    font-size: 30px;
    line-height: 62px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 6px;
    background-image: url(../images/old-line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 13%;
    display: block;
}

.product-card__price-new{
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 17px;
}

.product-card__link{
    border-bottom: 1px solid #d14c18;
    font-size: 15px;
    line-height: 18px;
    color: #d14c18;
}

.product-card__content{
    width: 570px;
}

.product-card__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    font-family:  'Barlow', sans-serif;
    margin-bottom: 10px;
}

.product-card__code{
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 22px;
}

.product-card__buttons{
    margin-bottom: 50px;
}

.product-card__tab{
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;
}

.product-card__tab + .product-card__tab{
    padding-left: 17px;
}

.product-card__tab.tab--active{
    opacity: 1;
    border-bottom: 2px solid #d14c18;
    font-weight: bold;
    font-family: 'SFProDisplay-Bold', sans-serif;
}

.product-card__item{
    padding: 15px 0 6px;
    border-bottom: 2px solid rgba(47, 48, 53, 0.1);
    display: flex;
    justify-content: space-between;
}

.product-card__item-left{
    padding-right: 15px;
    text-align: left;
}

.product-card__item-right{
    width: 210px;
}

.product-card__more{
    font-size: 14px;
    line-height: 17px;
    color: #d14c18;
    border-bottom: 1px solid #d14c18;
    margin-bottom: 40px;
}

.product-card__list{
    margin-bottom: 20px;
}

.product-card__btn button{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFF;
    padding: 16px 56px;
    border-radius: 3px;
    border: none;
    background: #d14c18;
    cursor: pointer;
}

.product-card__buttons a + a{
    margin-left: 10px;
}

.card__tabs{
    margin-bottom: 100px;
}

.card__tab-box{
    background: #f0f0f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    margin-bottom: 50px;
}

.card__tab{
    line-height: 24px;
    color: #2f3035;
    font-size: 20px;
    opacity: 0.6;
}

.card__tab.tab--active{
    border-bottom: 2px solid #d14c18;
    opacity: 1;
}

.card__top-line{
    margin-bottom: 10px;
}

.card__label-search{
    line-height: 20px;
    color: rgba(47, 48, 53, 0.7);
    font-size: 17px;
}

.card__input-search{
    background: #f0f0f4;
    border-radius: 3px;
    padding: 9px 37px 9px 17px;
    margin-left: 17px;
    border: none;
    margin-right: 100px;
}

.card__label-pickup{
    margin-left: 54px;
    line-height: 20px;
    color: rgba(47, 48, 53, 0.7);
    font-size: 17px;
}

.card__list-item{
    padding: 20px 0;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: rgba(47, 48, 53, 0.7);
}

.card__list-itemtitle{
    color: rgb(47, 48, 53);
    font-size: 20px;
    line-height: 24px;
}

.card__list-address{
    width: 220px;
    margin-right: 80px;
}

.card__list-workhours{
    width: 157px;
    margin-right: 96px;
}

.workhours{
    display: flex;
    justify-content: space-between;
}

.card__list-available{
    width: 140px;
    margin-right: 60px;
}

.card__list-num{
    width: 104px;
}

.card__list-btn{
    margin-left: auto;
}

.card__list-btn button{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #fff;
    border: none;
    padding: 9px 40px;
    text-transform: uppercase;
    background-color: #d14c18;
    border-radius: 3px;
}

.menu-mobile__list{
    width: 243px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    transform: translateX(-110%);
    transition: all .3s;
    position: absolute;
    z-index: 10;
    background-color: #fff;
}

.menu-mobile__list--active{
    transform: translateX(0%);
}

.menu-mobile__item{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile__link{
    display: block;
    padding-left: 53px;
    padding-top: 36px;
}

.menu-mobile__img{
    position: absolute;
    left: 11px;
    bottom: 0;
}

.menu__mobile-linewrapper{
    display: none;
}

.product-slider .slick-dots{
    bottom: -30px;
}

.product-slider .slick-dots button{
    background-color: #c4c4c4;
    border: none;
}

.product-slider .slick-dots .slick-active button{
    background-color: #d14c18;
}

.aside__btn{
    display: none;
}

.product-card__btn-mobile{
    display: none;
}

.footer__topdrop{
    pointer-events: none;
}

.product-item__wrapper.product-item__wrapper--list
.product-item__basket{
    transition: all 0.5s;
    width: 240px;
}

.product-item__wrapper.product-item__wrapper--list
.product-item__basket::after{
    content: "Добавить в корзину";
    color:white;
    font-size: 16px;
    line-height: 14px;
    margin-left: 30px;
}


.product-item__wrapper.product-item, .product-card__list{
    display: none;
}

.product-item__wrapper, .product-item__wrapper--list .product-card__list{
    display: inline-block;
}

.product-item__wrapper, .product-item__wrapper--list .product-card__list:hover{
    color: #000;
}

.product-item__wrapper.product-item__wrapper--list .product-item {
    display: flex;
    justify-content: space-between;
    min-height: 0;
}

.product-item__wrapper.product-item__wrapper--list .product-item .product-item__title {
    margin-top: 85px;
}

.product-item__wrapper.product-item__wrapper--list .product-item .product-item__price{
    position: absolute;
    left: 290px;
    bottom: 110px;
}

.basket-wrapper {
    display: flex;
    justify-content: space-around;
}

.basket__product-inner{
    width: 850px;
    padding: 20px 0;
}

.product-inner__item{
    width: 100%;
    height: 150px;
    margin: 0px 0;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    border-radius: 25px 0 0 100px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    position: relative;
    transition: all .6s
}

.product-inner__item + .product-inner__item{
    border-top: none;
}

.product-inner__item:hover{
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.25);
    transition: all .6s
}

.data__title{
    font-size: 16px;
    line-height: 14px;
    font-family:  'Barlow', sans-serif;
}

.basket-select{
    border-radius: 5px;
}

.product-inner__btn{
    border: none;
}

.product-inner__btn button:active, button:focus{
    outline: none;
}

.product-inner__delete{
    width: 130px;
    height: 30px;
    position: absolute;
    right: -1px;
    bottom: -1px;
    border: none;
    background-color: #d14c18;
    color: white;
    border-radius: 9px 0 0 0;
}


.product-inner__delete::after{
    content: "Удалить";
    font-family:  'Barlow', sans-serif;
    font-size: 14px;
    line-height: 10px;
}

.product-inner__buyblock{
    padding: 20px 0 0 15px;
    width: 320px;
}

.buyblock-wrapper{
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.tabs-wrapper__pickup, .tabs-wrapper__delivery{
    text-align: center;
    width: 50%;
}

.tabs-wrapper__pickup.tab--active{
    border-bottom: 2px solid #d14c18;
    text-align: center;
}

.tabs-wrapper__delivery.tab--active{
    border-bottom: 2px solid #d14c18;
    text-align: center;
}


.buy__content-label{
    font-family:  'Barlow', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 10px;
}

.aside__buyblock{
    display: block;
    margin-left: 20px;
}

.aside__buyblock-contentbox{
    width: 100%;
}

.asaid-map{
    width: 242px;
    margin-left: 25px;
}

.tabs-content__payment{
    height: 155px;
}

.aside__payment-block{
    width: 70px;
    height: 70px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.tabs-content__payment-title{
    margin-top: 20px;
    font-family:  'Barlow', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 10px;
}

.aside__payment{
    text-align: center;
}

.style-payment{
    margin-top: 10px;
    width: 86px;
    left: 5px;
    right: 0;
}

.result-price__wrapper{
    display: flex;
    justify-content: space-between;
}

.result-price__title{
    font-family:  'Barlow', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 10px;
}

.result-price__title-price{
    font-family:  'Barlow', sans-serif;
    font-size: 24px;
    line-height: 20px;
}

.result-price__button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.result-button{
    background-color: #d14c18;
    color: #fff;
    width: 290px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
}

.filter-search .numeric{
    width: 45%;
}
